.navbar {
    background: midnightblue;
    /* background: indigo; */
    /* background: darkblue; */
}

.menu {
    display: flex;
    justify-content: space-between;
}

.card-title {
    color: midnightblue;
    /* color: indigo; */
}

.auth_container{
    display: flex;
    flex-direction: column;;
    justify-content: space-between;
}

.btn_go {
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius:5px;
    background: midnightblue;
    /* background: indigo; */
    color: whitesmoke;
}

.apply-form {
    font-size: 20pt;
}

.footer {
    background: midnightblue;
    /* background: indigo; */
    color: whitesmoke;
}
